kestra/workflows/backfill_workflow.yaml
id: backfill_data
namespace: hslu

concurrency:
  limit: 1

inputs:
  - id: month
    type: SELECT
    displayName: Select Month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

  - id: year
    type: SELECT
    displayName: Select Year
    values: [2025, 2026]
    defaults: 2026

tasks:
  - id: download_data
    type: "io.kestra.plugin.core.http.Download"
    uri: https://archive.opentransportdata.swiss/istdaten/{{ inputs.year }}/ist-daten-v2-{{ inputs.year }}-{{ inputs.month }}.zip

  - id: extract_data
    type: "io.kestra.plugin.compress.ArchiveDecompress"
    algorithm: ZIP
    from: "{{ outputs.download_data.uri }}"

  - id: ensure_fact_table_exists
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
        CREATE TABLE IF NOT EXISTS fact_stop_events (
            id BIGINT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
            event_unique_id TEXT,
            betriebstag DATE,
            fahrt_bezeichner TEXT,
            betreiber_id TEXT,
            betreiber_abk TEXT,
            betreiber_name TEXT,
            produkt_id TEXT,
            linien_id TEXT,
            linien_text TEXT,
            umlauf_id TEXT,
            verkehrsmittel_text TEXT,
            zusatzfahrt_tf BOOLEAN,
            faellt_aus_tf BOOLEAN,
            bpuic TEXT,
            haltestellen_name TEXT,
            ankunftszeit TIMESTAMP,
            an_prognose TIMESTAMP,
            an_prognose_status TEXT,
            abfahrtszeit TIMESTAMP,
            ab_prognose TIMESTAMP,
            ab_prognose_status TEXT,
            durchfahrt_tf BOOLEAN,
            sloid TEXT,
            delay_arrival_sec INTEGER,
            delay_departure_sec INTEGER,
            service_hour SMALLINT,
            service_day_of_week SMALLINT,
            is_peak_hour BOOLEAN
        );

        ALTER TABLE fact_stop_events DROP CONSTRAINT IF EXISTS unique_event_id_constraint;

  - id: process_each_file
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{outputs.extract_data.files | values}}"
    tasks:
      - id: elt_file
        type: io.kestra.plugin.core.flow.Subflow
        namespace: hslu
        flowId: elt_file
        wait: true
        inputs:
          file: "{{ taskrun.value }}"

  - id: finalize_backfill
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
        ALTER TABLE fact_stop_events 
        ADD CONSTRAINT unique_event_id_constraint UNIQUE (event_unique_id);

  - id: build_station_delay_daily
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
        DROP TABLE IF EXISTS station_delay_daily;

        CREATE TABLE station_delay_daily AS
        SELECT
            haltestellen_name,
            betriebstag AS service_date,
            EXTRACT(ISODOW FROM betriebstag)::SMALLINT AS day_of_week,
            COUNT(*) AS total_records,
            SUM(CASE WHEN delay_arrival_sec > 0 THEN 1 ELSE 0 END)::INTEGER AS records_with_delay,
            AVG(delay_arrival_sec)::DOUBLE PRECISION AS avg_delay_seconds,
            SUM(delay_arrival_sec)::BIGINT AS total_delay_seconds,
            AVG(
                CASE
                    WHEN delay_arrival_sec > 0 THEN 1.0
                    ELSE 0.0
                END
            )::DOUBLE PRECISION AS delay_percentage
        FROM fact_stop_events
        WHERE ankunftszeit IS NOT NULL
        GROUP BY
            haltestellen_name,
            betriebstag;

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: Remove extracted files from Kestra storage

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/swiss_transport
      username: root
      password: root