kestra/workflows/ingest_current_workflow.yaml
id: ingest_current_data
namespace: hslu
description: |
  Fetches the current public transport dataset from the Open Transport Data
  permalink, loads it into PostgreSQL staging, and runs the transformation.

concurrency:
  limit: 1

triggers:
  - id: daily_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 2 * * *"
    timezone: Europe/Zurich

tasks:
  - id: download_data
    type: "io.kestra.plugin.core.http.Download"
    uri: https://data.opentransportdata.swiss/en/dataset/ist-daten-v2/permalink

  - id: ensure_fact_table_exists
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
        CREATE TABLE IF NOT EXISTS fact_stop_events (
            id BIGINT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
            event_unique_id TEXT UNIQUE,
            betriebstag DATE,
            fahrt_bezeichner TEXT,
            betreiber_id TEXT,
            betreiber_abk TEXT,
            betreiber_name TEXT,
            produkt_id TEXT,
            linien_id TEXT,
            linien_text TEXT,
            umlauf_id TEXT,
            verkehrsmittel_text TEXT,
            zusatzfahrt_tf BOOLEAN,
            faellt_aus_tf BOOLEAN,
            bpuic TEXT,
            haltestellen_name TEXT,
            ankunftszeit TIMESTAMP,
            an_prognose TIMESTAMP,
            an_prognose_status TEXT,
            abfahrtszeit TIMESTAMP,
            ab_prognose TIMESTAMP,
            ab_prognose_status TEXT,
            durchfahrt_tf BOOLEAN,
            sloid TEXT,
            delay_arrival_sec INTEGER,
            delay_departure_sec INTEGER,
            service_hour SMALLINT,
            service_day_of_week SMALLINT,
            is_peak_hour BOOLEAN
        );

  - id: elt_file
    type: io.kestra.plugin.core.flow.Subflow
    namespace: hslu
    flowId: elt_file
    wait: true
    inputs:
      file: "{{ outputs.download_data.uri }}"
        
  - id: build_station_delay_daily
    type: io.kestra.plugin.jdbc.postgresql.Queries
    sql: |
        DROP TABLE IF EXISTS station_delay_daily;

        CREATE TABLE station_delay_daily AS
        SELECT
            haltestellen_name,
            betriebstag AS service_date,
            EXTRACT(ISODOW FROM betriebstag)::SMALLINT AS day_of_week,
            COUNT(*) AS total_records,
            SUM(CASE WHEN delay_arrival_sec > 0 THEN 1 ELSE 0 END)::INTEGER AS records_with_delay,
            AVG(delay_arrival_sec)::DOUBLE PRECISION AS avg_delay_seconds,
            SUM(delay_arrival_sec)::BIGINT AS total_delay_seconds,
            AVG(
                CASE
                    WHEN delay_arrival_sec > 0 THEN 1.0
                    ELSE 0.0
                END
            )::DOUBLE PRECISION AS delay_percentage
        FROM fact_stop_events
        WHERE ankunftszeit IS NOT NULL
        GROUP BY
            haltestellen_name,
            betriebstag;

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: Remove downloaded execution files from Kestra storage

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://pgdatabase:5432/swiss_transport
      username: root
      password: root